body{
	background-color:#f8f8f8;
}
.heading{
	text-align:center;
}
.book{
	border-top:20px solid white;
    display:flex;
	flex-direction:column;
	paddin:3px;
}
.img{
	width:200px;
	margin:10px;
	margin-left:auto;
	margin-right:auto;
   
}
h2{
	margin:0px
}
p {
	color:#777777;
	margin:0px;
	padding:0px;
}
.button{
	width:100%;
	background-color:#82DBA5;
	color:white;
	border:none;
}

