body{
	background-color:#f8f8f8;
}
.book_library{
	background-color:#ffffff;
	text-align:center;
}
.book{
	align-items:center;
	display:flex;
	flex-direction:column;
	justify-content:center;
}
.img{
	width:200px;
	margin:10px;

}
h2{


	
}
p{
	color:#777777;
	margin:0px;
	padding:0px;
}
.button{
	background-color:#82DBA5;
	color:white;
	border:none;
	display:block;
}